.dashboard {
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.a {
    display: flex;
    border-radius: 20px;
    margin: 25px auto;
    margin-top: 50px;
    justify-content: center;
}

.a ul {
    position: absolute;
    text-align: left;
    margin-top: 50px;
    left: 0;
}

p {
    color: #C4C4C4;
}

.phrases {
    position: relative;
    float: left;
    width: 45%;
    height: 200px;
    background-color: #3B4669;
}

.hashtags {
    position: relative;
    float: right;
    width: 45%;
    height: 200px;
    background-color: #3B4669;

}

.engagement {
    position: relative;
    clear: both;
    width: 100%;
    height: 300px;
    background-color: #3B4669;
}

.engagement .header {
    top: 7px;
    text-align: center;
}

.tweet-search {
    background-color: #3B4669;
    width: 50%;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    color: #C4C4C4;
    background-image: url('../assets/Search-icon.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
}

.header {
    border-radius: 20px;
    position: absolute;
    top: 3px;
    width: 97%;
    background-color: #263259;
    height: 45px;
    text-align: left;
}

.header p {
    margin-left: 20px;
}

.engagement img {
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;
}

/* .search {
    left: -10%;
    width: 30px;
    height: 30px;
    color: white;
} */