.menu {
  height: 100%;
  width: 100%;
}


.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  outline: none;
}

.bm-item:hover {
  color: white;
  outline: none;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #CECECE;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #CECECE;
}

.bm-menu {
  background: #1C2542;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #1C2542;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
